@import "../../styles/common.scss";

.login-wrapper {
    background: linear-gradient(90deg, rgba(212,195,178,1) 27%, rgba(9,117,121,1) 68%, rgba(0,255,111,0.7259278711484594) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .login-container {
        background-color: white;
        border-radius: 10px;
        width: 400px;
        height: 600px;
        .form_login{
            font-size: 16px;
            input[type="email"],
            input[type="password"],
            input[type="text"]{
                height: 40px;
                font-size: 16px;
            }
            .login-header{
                text-align: center;
                font-weight: 600;
                margin-bottom: 20px;
            }
            .password-field{
                position: relative;
                span i{
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }
            }
            .submit-form{
                background: linear-gradient(90deg, rgba(212,195,178,1) 27%, rgba(9,117,121,1) 68%, rgba(0,255,111,0.7259278711484594) 100%);
                font-size: 16px;
                color: white;
                border-radius: 5px;
            }
            .or-login{
                text-align: center;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .link-social{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                i{
                    font-size: 30px;
                }
                i.link-fb{
                    margin-right: 40px;
                    color: rgb(23, 23, 170);
                }
                i.link-gg{
                    color: rgb(240, 0, 0);
                }
            }
        }
    }
    //huy.quang: disable default eye icon on ie < 10

    
    /*=============END FOOTER==========*/
    
    /*=============MENU MOBILE==========*/
    /*=============END MENU MOBILE==========*/
    
    /*RESPONSIVE*/
    @media screen and (min-device-width: 1280px) and (max-device-width: 2400px) {
        .login-container {
            padding: 30px 0 0 0;
        }
    }
    @media (max-width: 1600px){
        .login-container {
            padding: 100px 0 0 0;
        }
        .form_login{
            height: 475px;
            max-width: 360px;
            .form-group {
                margin-bottom: 20px;
            }
        }
    }
    @media (max-width: 1479px){
        .login-container {
            padding: 80px 0 0 0;
        }
        .form_login{
            height: 475px;
            max-width: 360px;
            .form-group {
                margin-bottom: 20px;
            }
        }
    }
    @media (max-width: 1380px){
        .form_login{
            height: 475px;
            max-width: 360px;
            .form-group {
                margin-bottom: 20px;
            }
        }
    }
    @media (max-width: 1280px){
        .login-container {
            padding: 30px 0 0 0;
        }
        .form_login{
            height: 475px;
            max-width: 360px;
            .form-group {
                margin-bottom: 20px;
            }
        }
    }
    @media (max-width: 960px){
        .form_login {
            margin: auto
        }
        .login-container {
            padding: 40px 30px 0 30px;
        }
    }
    
    @media (max-width: 740px){
        .form_login {
            margin: auto
        }
        .login-container {
            padding: 40px 30px 0 30px;
        }
    }
    
    @media (max-width: 590px){
        .form_login{
            margin: auto
        }
        .login-container {
            padding: 40px 30px 0 30px;
        }
    }
    @media (max-width: 420px){
        .form_login{
            margin: auto
        }
        .login-container {
            padding: 40px 30px 0 30px;
        }
    }
    @media (max-width: 340px){
        .form_login{
            margin: auto
        }
        .login-container {
            padding: 40px 30px 0 30px;
        }
    }
}
